.counter-container {
  position: relative;
  height: 75px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-container h1 {
  font-size: 1.5em;
}