.dummy {
  background-color: #474b4f;
}

.challenge-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  min-width: 1440px;
}

.challenge-container main {
  margin: 20px;
  min-width: 1270px;
  display: flex;
  margin: 0 auto;
}

nav {
  width: 160px;
  height: 100vh;
  margin-right: 20px;
}

.middle-content {
  height: 100%;
  width: 100%;
}


.content-container {
  width: 100%;
  height: calc(100vh - 135px);
  border-radius: 6px;
  overflow: hidden;
}

.message-board {
  width: 300px;
  height: calc(100vh - 40px);
  margin-left: 20px;
}