.landing-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/accepted-logo-grey.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: left -40px bottom -15px;
}

.landing-main-text {
  margin-top: 100px;
}

.landing-main-text h1 {
  font-size: 5em;
  font-weight: 300;
  color: white;
  margin-bottom: 50px;
}

.landing-main-text h1 span {
  font-weight: 800;
  color: #86c232;
}

.landing-main-text h3 {
  color: #6b6e70;
  margin: 40px auto;
}

.landing-details {
  margin-bottom: 80px;
}

.landing-details h2 {
  color:white;
  line-height: 2em;
}

.landing-details p {
  color:white;
}

.landing-admin-btn {
  margin: 30px 40px;
  align-self: flex-end;
  background-color: #474b4f;
}

.landing-admin-btn:hover * {
  color: white;
}

.landing-admin-btn a {
  color: #6b6e70;
}

.landing-user-btns {
  display: flex;
  justify-content: center;
}

.login-btn {
  background-color: #86c232;
}

.register-btn {
  background-color: #61892f;
}