.challenge-overview {
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  height: 100%;
}


.challenge-overview::-webkit-scrollbar {
  display: none;
}

.challenge-days {
  width: 200px;
}

.commitments-container {
  width: 100%;
  display: flex;
  flex-direction: row; 
  
}

.toggle-create-form-button {
  color: white;
  height: 30px;
  width: 150px;
  border-radius: 25px;
  border: .5px solid #86c232;
  outline: none;
  background-color: #61892f;
  font-size: 16px;
  font-weight: 600;
}

.toggle-create-form-button:hover {
  background-color: #86c232;
}

.table-header {
  /* position: fixed; */
  background-color: #61892f;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.table-date-head {
  color:#474b4f;
  padding-bottom: 10px;
}

.table-date {
  color: white;
  font-size: 17px; 
  margin: 0px;
  max-height: 35px;
  min-height: 35px;
  line-height: 30px;
  text-align: left;
  padding-left: 30px;
  border:none;
}

.table-date:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}
